
h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
}



#search-form {
    display: grid;
    margin: 20px;
}



#submit-button{
    background-color: #6c757d;
    color:#fff;
    border-radius: .3rem;
    border-style: hidden;
    margin: 0px 150px;
    cursor: pointer;
    outline: 0;

}

.btn-group {
    display:grid;
    margin-top: 20px;
}



footer {display: grid;
text-align: center;
background-color: #e9ecef;
padding: 50px;
margin-top: 80px;

}

